html
  background-color: $gray-500
  
.project-textbox
  position: absolute
  top: 50%
  min-width: 25%
  background-color: $dark
  padding: 1em
  text-align: right
  color: $gray-300

.project-entry
  display: block
  height: 250px
  position: relative
  background-position: top
  background-size: cover
  a:focus
    outline: none